.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-toolbar {
  /* background: #650476; */
  background: #091013;
  color: white;
}

mat-sidenav{
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #091013;
  background-image: url('./../../../../../assets/images/nav.png');
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  background-size: cover;
}

mat-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: gray;
}

.avatar{
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.name {
  margin-top: 4px;
  font-weight: normal;
}

.designation {
  margin-top: -14px;
  font-size: .8rem;
  color: lightgray;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: .8rem;
  mat-icon, span, a {
    margin-right: 8px;
    color: white;
  }
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-content{
  height: calc(100vh - 65px);
}

button:hover {
  background-color: #646464;
}

