<mat-toolbar align="center" class="space-between black-toolbar">
  <span class=" centered">
    <mat-icon>{{icon_header}}</mat-icon>
    {{title_header}}
  </span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>

  <form [formGroup]="reactiveForm">

    <div class="row">

      <!-- Foto -->
      <div class="col-md-4">
        <img ngSrc="{{image}}" width="200" height="213" priority
             sizes="(max-width: 768px) 100vw, 50vw">
      </div>

      <!-- Names | Attack -->
      <div class="col-md-8">

        <!-- Name -->
        <mat-form-field appearance="outline">
          <mat-label>Name:</mat-label>
          <input formControlName="name" type="text" matInput required>
          <mat-error *ngIf="nameField?.hasError('required')">Name is required</mat-error>
          <mat-error *ngIf="nameField?.hasError('minlength')">Insufficient Characters</mat-error>
          <mat-error *ngIf="nameField?.hasError('maxlength')">Character Limit Reached</mat-error>
        </mat-form-field>

        <!-- Attack & Defense -->
        <div class="row">

          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Attack:</mat-label>
              <input formControlName="attack" type="number" matInput required>
              <mat-error *ngIf="attackField?.hasError('required')">Attack is required</mat-error>
              <mat-error *ngIf="attackField?.hasError('min')">Minimum Value: 0</mat-error>
              <mat-error *ngIf="attackField?.hasError('max')">Maximum Value: 100</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Defense:</mat-label>
              <input formControlName="defense" type="number" matInput required>
              <mat-error *ngIf="defenseField?.hasError('required')">Defense is required</mat-error>
              <mat-error *ngIf="defenseField?.hasError('min')">Minimum Value: 0</mat-error>
              <mat-error *ngIf="defenseField?.hasError('max')">Maximum Value: 100</mat-error>
            </mat-form-field>
          </div>

        </div>

        <!-- Url -->
        <mat-form-field appearance="outline">
          <mat-label>Url:</mat-label>
          <input formControlName="image" type="text" matInput required (input)="updateImageFromUrl()">
          <mat-error *ngIf="imageField?.hasError('required')">Url image is required</mat-error>
        </mat-form-field>

        <div class="row" >
          <mat-dialog-actions >

            <!-- Save -->
            <button type="button" mat-raised-button mat-dialog-close
                    color="primary" [disabled]="reactiveForm.invalid" cdkFocusInitial
                    (click)="save()">
              <mat-icon>save</mat-icon>
              Save
            </button>

            <!-- Close -->
            <button class="black-close"
                    type="button"
                    mat-raised-button
                    mat-dialog-close>
              <mat-icon>close</mat-icon>
              Close
            </button>

          </mat-dialog-actions>
        </div>

      </div>

    </div>




  </form>


</mat-dialog-content>
