/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.row-align-rigth {
  padding-right: 40px !important;
  text-align: end !important;
}

.row-align-rigth button {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

mat-form-field {
  width: 100%;
  font-size: 15px;
}

.btn-arrow {
  position: relative;
  overflow: hidden;
}

.button-text {
  padding-right: 8px;
}

.icon-container {
  position: absolute;
  top: 50%;
  right: 0;
  float: right;
  padding-left: 5px;
  transform: translateY(-50%);
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.start-button {
  margin-top: 15px;
  order: 1;
}

.end-button {
  margin-top: 15px;
  order: 2;
}

.content{
  margin: 10px 16px 10px 16px;
}

.img-pokemon{
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.mat-column-avatar {
  width: 100px !important;
}
.mat-column-attack {
  width: 100px !important;
}
.mat-column-defense {
  width: 100px !important;
}

