<div class="content">
  <mat-card-content>

    <div class="header-buttons">

      <!-- Export -->
      <button class="start-button btn-arrow" mat-raised-button [matMenuTriggerFor]="menu">
        <span class="button-text">Export Data</span>
        <mat-icon class="icon-container">arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>remove_red_eye</mat-icon>
          <span>See</span>
        </button>
        <button mat-menu-item>
          <mat-icon>picture_as_pdf</mat-icon>
          <span>Pdf</span>
        </button>
        <button mat-menu-item>
          <mat-icon>library_books</mat-icon>
          <span>Excel</span>
        </button>
        <button mat-menu-item>
          <mat-icon>local_printshop</mat-icon>
          <span>Print</span>
        </button>
      </mat-menu>

      <!-- New -->
      <button (click)="openForm('0ms', '0ms')" class="end-button" mat-button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        New
      </button>

    </div>

    <mat-form-field>
      <mat-label>Start typing to search...</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Avatar Column -->
        <ng-container matColumnDef="avatar">
          <th mat-header-cell *matHeaderCellDef> Avatar </th>
          <td mat-cell *matCellDef="let row">
            <img class="img-pokemon" src="https://i.ebayimg.com/images/g/qBEAAOSwuFlj78ti/s-l500.jpg">
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Attack Column -->
        <!-- <ng-container matColumnDef="attack">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Attack </th>
          <td mat-cell *matCellDef="let row"> {{row.attack}} </td>
        </ng-container> -->

        <!-- Defense Column -->
        <!-- <ng-container matColumnDef="defense">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Defense </th>
          <td mat-cell *matCellDef="let row"> {{row.defense}} </td>
        </ng-container> -->

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" class="row-align-rigth">

            <!-- Edit -->
            <button (click)="openForm('0ms', '0ms', row)" mat-icon-button matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>

            <!-- Delete -->
            <button mat-icon-button matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <!-- <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td> -->
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of users"></mat-paginator>
    </div>


  </mat-card-content>
</div>



